In [2]:
import numpy as np 
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt 
import sklearn 
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split 
from sklearn import metrics 
from sklearn.metrics import classification_report

In [3]:
url= 'https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv'

In [4]:
titanic_df = pd.read_csv(url) 
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
titanic_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [7]:
titanic_df=titanic_df[['Pclass','Sex','Age','SibSp','Parch','Fare','Survived']] 
titanic_df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare  Survived
0       3    male  22.0      1      0   7.2500         0
1       1  female  38.0      1      0  71.2833         1
2       3  female  26.0      0      0   7.9250         1
3       1  female  35.0      1      0  53.1000         1
4       3    male  35.0      0      0   8.0500         0

In [8]:
print("shape of the dataframe is ",titanic_df.shape) 
(titanic_df.isnull().sum()/titanic_df.shape[0])*100

shape of the dataframe is  (891, 7)

Pclass       0.00000
Sex          0.00000
Age         19.86532
SibSp        0.00000
Parch        0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [10]:
print("shape of dataframe before droping ",titanic_df.shape) 
titanic_df.dropna(inplace=True) 
print("shape of dataframe after droping ",titanic_df.shape)

shape of dataframe before droping  (891, 7)
shape of dataframe after droping  (714, 7)

In [11]:
titanic_df['Sex']=titanic_df.Sex.map({'male':0,'female':1})

In [12]:
x=titanic_df.iloc[:,:-1] 
x.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    0  22.0      1      0   7.2500
1       1    1  38.0      1      0  71.2833
2       3    1  26.0      0      0   7.9250
3       1    1  35.0      1      0  53.1000
4       3    0  35.0      0      0   8.0500

In [13]:
y=titanic_df['Survived'] 
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [15]:
print('shape of x_train is: ',x_train.shape)
print('shape of x_test is: ',x_test.shape)
print('shape of y_train is: ',y_train.shape)
print('shape of y_test is: ',y_test.shape)

shape of x_train is:  (571, 6)
shape of x_test is:  (143, 6)
shape of y_train is:  (571,)
shape of y_test is:  (143,)

In [16]:
from sklearn import tree 
for i in range(1,10):
    classifier = tree.DecisionTreeClassifier(criterion='gini',max_depth=i,random_state=42) 
    classifier.fit(x_train,y_train) 
    y_pred = classifier.predict(x_test) 
    acc_score=metrics.accuracy_score(y_test,y_pred)
    print("for max_depth = ",i,", accuracy is :",acc_score)

for max_depth =  1 , accuracy is : 0.734265734266
for max_depth =  2 , accuracy is : 0.734265734266
for max_depth =  3 , accuracy is : 0.741258741259
for max_depth =  4 , accuracy is : 0.755244755245
for max_depth =  5 , accuracy is : 0.72027972028
for max_depth =  6 , accuracy is : 0.741258741259
for max_depth =  7 , accuracy is : 0.72027972028
for max_depth =  8 , accuracy is : 0.734265734266
for max_depth =  9 , accuracy is : 0.72027972028

In [17]:
classifier = tree.DecisionTreeClassifier(criterion='gini',max_depth=4,random_state=42) 
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test) 
acc_score=metrics.accuracy_score(y_test,y_pred)

In [18]:
print(" accuracy of our decision tree is :",acc_score*100,"%")
print(100*"-")
print("for max_depth = 4, confusion matrix is :\n",metrics.confusion_matrix(y_test,y_pred))

 accuracy of our decision tree is : 75.5244755245 %
----------------------------------------------------------------------------------------------------
for max_depth = 4, confusion matrix is :
 [[69 18]
 [17 39]]